.savedNews {
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  justify-content: center;
}

.savedNews__wrapper-texts {
  padding: 0 16px;
}

.savedNews__text {
  margin-top: 64px;
  margin-bottom: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0;
  color: #1a1b2280;
}

.savedNews__title {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0;
  color: #1a1b22;
}

.savedNews__keywords {
  margin-top: 50px;
  margin-bottom: 32px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #1a1b22;
}

.savedNews__wrapper-cards {
  background-color: #f5f6f7;
  padding: 24px 16px 12px;
}

@media (min-width: 768px) {
  .savedNews__wrapper-texts {
    padding: 24px 40px 32px;
  }

  .savedNews__text {
    font-size: 14px;
    margin-top: 0;
  }

  .savedNews__keywords {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .savedNews__wrapper-cards {
    padding: 32px 40px;
  }
}

@media (min-width: 1024px) {
  .savedNews__wrapper-texts {
    padding: 40px 104px 56px;
  }

  .savedNews__text {
    font-size: 18px;
  }

  .savedNews__title {
    font-size: 40px;
    line-height: 46px;
    margin-top: 28px;
  }

  .savedNews__keywords {
    margin-top: 30px;
  }

  .savedNews__wrapper-cards {
    padding: 62px 102px;
  }
}
