.card {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 288px;
}

.card__image {
  max-width: 288px;
  max-height: 196px;
  border-radius: 25px 25px 0 0;
}

.card__save-buttom {
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: absolute;
  top: 16px;
  right: 16px;
}

.card__save-icon {
  width: 24px;
  height: 24px;
}

.card__save-icon:hover {
  fill: #1a1b22;
}

.card__info {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 288px;
}

.card__news-date {
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  color: #b6bcbf;
  margin-top: 0;
  margin-bottom: 10px;
}

.card__news-title {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0;
  color: #1a1b22;
  margin-top: 0;
  margin-bottom: 14px;
}

.card__news-description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  color: #1a1b22;
  margin: 0;
}

.card__news-sources {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #b6bcbf;
  text-transform: uppercase;
}
